#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-0 .mbr-navbar__section {
  background: #f97352;
}
#msg-box4-4 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-article P {
  color: #ffffff;
}
#contacts3-22 P {
  color: #ffffff;
}
#contacts3-22 UL {
  color: #ffffff;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-5 .mbr-navbar__section {
  background: #f97352;
}
#msg-box1-13 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-13 .mbr-article {
  color: #fff;
}
#contacts3-22 P {
  color: #ffffff;
}
#contacts3-22 UL {
  color: #ffffff;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-5 .mbr-navbar__section {
  background: #f97352;
}
#header2-16 H1 {
  color: #000000;
}
#header2-16 P {
  color: #000000;
  font-size: 18px;
}
#contacts3-22 P {
  color: #ffffff;
}
#contacts3-22 UL {
  color: #ffffff;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-18 .mbr-navbar__section {
  background: #f97352;
}
#contacts3-22 P {
  color: #ffffff;
}
#contacts3-22 UL {
  color: #ffffff;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-18 .mbr-navbar__section {
  background: #f97352;
}
#header1-18 P {
  text-align: left;
}
#header1-18 H1 {
  text-align: left;
}
#contacts3-22 P {
  color: #ffffff;
}
#contacts3-22 UL {
  color: #ffffff;
}
#menu-27 .mbr-brand__name {
  font-size: 16px;
}
#menu-27.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-27 .mbr-navbar__section {
  background: #f97352;
}
#contacts3-30 P {
  color: #ffffff;
}
#contacts3-30 UL {
  color: #ffffff;
}
#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#menu-31 .mbr-navbar__section {
  background: #f97352;
}
#contacts3-34 P {
  color: #ffffff;
}
#contacts3-34 UL {
  color: #ffffff;
}
